server {
  listen              80;
  listen              [::]:80;
  server_name         {{ domains|join(' ') }};

  location ^~ /.well-known/acme-challenge/ {
    default_type "text/plain";
    root       {{ certbot_root }}/{{ name }};
  }

  location = /.well-known/acme-challenge/ {
    return 404;
  }
}