server {
  listen              80;
  listen              [::]:80;
  server_name         {{ monit_domain }};

  location / {
    return              301 https://$server_name$request_uri;
  }
}

server {
    listen 443 ssl;

    server_name {{ monit_domain }};

    error_log /var/log/nginx/monit_error.log;
    access_log /var/log/nginx/monit_access.log;

    ssl_certificate      /etc/letsencrypt/live/{{ monit_domain }}/fullchain.pem;
    ssl_certificate_key  /etc/letsencrypt/live/{{ monit_domain }}/privkey.pem;

    location / {
        proxy_pass http://127.0.0.1:2812;
        proxy_set_header Host $host;

        proxy_ignore_client_abort on;
    }
}